<div class="hero">
    <div class="container mx-auto max-w-6xl p-8 2xl:px-0 hero-content">
      <div class="w-full text-center pt-2">
        <h1 class="mb-5 text-5xl font-bold">
Credits
      </h1>
      <p class="m-5 lead">
<ul>
    <li> Saahil - Site </li>
    <li>Chance - Editor</li>
    <li>Ethan - Editor</li>
</ul>
      </p>
      <div class="m-5 p-5">
        <span>Requests: <%=info.requests%></span>
        <br />
        <span>Testing Requests: <%=info.school_people_requests%></span>
       </div>
   </div>
   </div>
   
 <div id="secret"></div>

</div>
<div class="p-20"></div>
<script>
    ;(() => {
        alert("e")
window.addEventListener("load", ( ) => {
   
    

})    
})()
   </script> 