<div class="hero">
  <div class="container mx-auto max-w-6xl p-8 2xl:px-0 hero-content">
    <div class="w-full text-center pt-4">
      <h1 class="mb-5 text-4xl font-bold">SOLAR ENERGY</h1>
      <p class="m-5">A site about how to save power via solar power</p>
    </div>
  </div>
</div>
<div class="w-full flex items-center justify-center mb-20">
  <div class="card w-1/2 h-96 bg-base-200 shadow-xl m-10">
    <figure>
      <img
        src="https://www.thoughtco.com/thmb/9HRITmOTwRFhIB9iNA4gNwv7tsA=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/solar-panel-photovoltaic-installation-on-a-roof--alternative-electricity-source-884806548-5c5b67b9c9e77c000156659b.jpg"
        alt="A solar energy bar chart"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">How does solar energy work?</h2>
      <p>
        Sunlight is converted into energy through photovoltaic(PV) cells, which
        make up solar panels
      </p>
    </div>
  </div>
  <div class="card w-96 h-96 bg-base-200 shadow-xl">
    <figure>
      <img
        src="https://images.squarespace-cdn.com/content/v1/5354537ce4b0e65f5c20d562/1626350989325-241ZTHNQRHMSHHH9DTNX/Solar+Panel+assembly+construction+components.jpg"
        alt="A solar energy bar chart"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Internals</h2>
    </div>
  </div>
</div>
