<div class="hero">
  <div class="container mx-auto max-w-6xl p-8 2xl:px-0 hero-content">
    <div class="w-full text-center pt-2">
      <h1 class="mb-5 text-5xl font-bold">Sources</h1>
      <div class="m-5 lead">
        <ul>
          <% sources.forEach(source => { %> <% if(source.mla) { %>
          <li><%-source.text-%></li>
          <% } else { %>
          <li class="p-1">
            <a
              href="<%=source.url%>"
              class="underline decoration-transparent hover:decoration-inherit transition duration-300 ease-in-out hover:text-gray-400 text-blue-300 active:text-base-100 visited:text-purple-500"
              ><%=source.url%></a
            >
          </li>
          <% } %> 
          <% }) %>
          <li>&ldquo;The benefits and science of the cold shower.&rdquo; BC Hydro, 4 August 2022, https://www.bchydro.com/news/conservation/2022/cold-shower-benefits.html. Accessed 9 February 2023.</li>
<li>&ldquo;The benefits and science of the cold shower.&rdquo; BC Hydro, 4 August 2022, https://www.bchydro.com/news/conservation/2022/cold-shower-benefits.html. Accessed 9 February 2023.</li>
<li>Bulnes, Marlon. &ldquo;How Does Solar Energy Work?&rdquo; Sunlux, https://sunlux.com/blog/how-does-solar-energy-work/. Accessed 9 February 2023.</li>
<li>Ducharme, Jamie. &ldquo;Is Reusable Packaging Actually Better for the Environment?&rdquo; TIME, 28 September 2021, https://time.com/6101846/is-reusable-packaging-sustainable/. Accessed 9 February 2023.</li>
<li>&ldquo;Frequently Asked Questions: Benefits of Recycling | Land, Buildings &amp; Real Estate.&rdquo; Land, Buildings &amp; Real Estate, https://lbre.stanford.edu/pssistanford-recycling/frequently-asked-questions/frequently-asked-questions-benefits-recycling. Accessed 9 February 2023.</li>
<li>&ldquo;How Does Solar Work?&rdquo; Department of Energy, https://www.energy.gov/eere/solar/how-does-solar-work. Accessed 9 February 2023.</li>
<li>&ldquo;Kentucky Energy Profile.&rdquo; Kentucky Energy and Environment Cabinet, https://eec.ky.gov/Energy/KY%20Energy%20Profile/Kentucky%20Energy%20Profile%202019.pdf. Accessed 9 February 2023.</li>
<li>&ldquo;Kentucky Energy Profile.&rdquo; Kentucky Energy and Environment Cabinet, https://eec.ky.gov/Energy/KY%20Energy%20Profile/Kentucky%20Energy%20Profile%202019.pdf. Accessed 9 February 2023.</li>
<li>&ldquo;LED Lighting.&rdquo; Department of Energy, https://www.energy.gov/energysaver/led-lighting. Accessed 9 February 2023.</li>
<li>&ldquo;Reducing Your Transportation Footprint - Center for Climate and Energy SolutionsCenter for Climate and Energy Solutions.&rdquo; Center for Climate and Energy Solutions, https://www.c2es.org/content/reducing-your-transportation-footprint/. Accessed 9 February 2023.</li>
<li>&ldquo;Reducing Your Transportation Footprint - Center for Climate and Energy SolutionsCenter for Climate and Energy Solutions.&rdquo; Center for Climate and Energy Solutions, https://www.c2es.org/content/reducing-your-transportation-footprint/. Accessed 9 February 2023.</li>
<li>&ldquo;Renewable Energy vs. Nonrenewable Energy | Just the Facts.&rdquo; Just Energy, https://justenergy.com/blog/just-the-facts-renewable-energy-vs-nonrenewable-energy/. Accessed 9 February 2023.</li>
<li>Wibberly, Alaina. &ldquo;Five Energy Saving Products That Will Make the Planet a Better Place.&rdquo; SmartEnergy, 20 May 2016, https://www.smartenergy.com/five-energy-saving-products-that-will-make-the-planet-a-better-place/. Accessed 9 February 2023.</li>
<li>&nbsp;</li>
        </ul>
      </div>
    </div>
  </div>

  <div id="secret"></div>
</div>
<div class="m-20 p-20 opacity-0">e</div>
