<div class="hero">
  <div class="container mx-auto max-w-6xl p-8 2xl:px-0 hero-content">
    <div class="w-full text-center pt-2">
      <h1 class="mb-5 text-5xl font-bold">Bear cat Weekly</h1>
      <div class="m-5 lead">
        Next week is Earth Day! To help the earth we have 3 ways that you can
        save electricity.
        <p>
          #1 Make sure to turn off lights that you don’t need. This will help it
          so that you can save money on your electricity bill and use less
          energy.
        </p>
        <p>
          #2 is composting! Composting is a way of recycling that helps save the
          earth. When you compost you can make tools that can be used in
          gardening such as homemade fertilizer which you can sell or use.
        </p>
        <p>
          #3 is switching to a hybrid car. Engines in hybrid cars collect the
          energy produced while driving, and use it to recharge itself!
        </p>
      </div>
    </div>
  </div>
</div>
<div class="opacity-0 p-20 m-20"></div>
