<div class="hero">
    <div class="container mx-auto max-w-6xl p-8 2xl:px-0 hero-content">
      <div class="w-full text-center pt-2">
        <h1 class="mb-5 text-5xl font-bold">
Monday meeting plan
      </h1>
<div class="flex-1 p-2">
    <img class="mask  inline-flex m-5"  src="/images/monday1.png" height="400" width="400"/>
<img class="mask  inline-flex m-5"  src="/images/monday2.png"  height="400" width="400"/>
</div>
      <p class="m-5 lead">  
        These images are the type of energy people in Kentucky use. As you can see coal is the most used energy source and the least used one is biomass. But none of that really matters. The thing that matters is that most of the energy in Kentucky is nonrenewable, which is a big no no for the earth. And the worst part is that it is a big part of us the people's faults. As you can see by this graph. We need to at least try to switch to a more renewable source of energy. My suggestion of what energy to switch to is solar powered energy. To see how they work you can look at are posters. They should give you a brief explanation on how a solar panel works. They are located all around the school; you shouldn’t have to look very far to find them.
      </p>
   </div>
   </div>
   
</div>
