<div class="hero">
    <div class="container mx-auto max-w-6xl p-8 2xl:px-0 hero-content">
      <div class="w-full text-center pt-2">
        <h1 class="mb-20 text-5xl font-bold">
Plan for earth day
      </h1>
      <br />
      <div class="w-full m-w-screen flex items-center justify-center">   
        <div class="card m-5 w-96 bg-base-700 shadow-xl">
            <div class="card-body">
              <h2 class="card-title">Our Idea</h2>
              <div>
                <p>
                    Our ideas are to make birdhouses out of Recycled plastic, Cardboard, Leaves + twigs and glue.
                </p>
                <p class="mt-2">
The general idea is to make an  advisory birdhouse for each advisory.
                </p>
                <p>
                 Our research will include what the best recycled materials would be to use.
                </p>
                <p>
                    The plan for our earth day activity is for each advisory makes bird houses 
                </p>
                <h3>Our resources</h3>
                <p>The resources we will use includes: Recycled plastic.
                    Cardboard.
                    Leaves, twigs 
                  and  glue
                    </p>
                    <p>To buy all any of the materials it shall cost 0$</p>
                    <p>Cardboard - we can collect it over the next 2 months
                        Recycled plastic - we can collect it
                        Everything else - we already have it at school/we can collect it</p>
                        <h3>Planning</h3>
                        <p>
                            The planning that would need to be done ahead of time would be setting of the material in adviser.
                            The activity will take 45 mins.
                        </p>
                        <p>This event will take 
                            35 min building and 
                            10 min show & see.
                            </p>

                            <h3>Logistics</h3>
                            <p>
                                This activity uses recycled materials students/teachers bring in to build a birdhouse, which will actually be used 
                            </p>
                            <p>
                                the groups will be broken down by advisee.
                            </p>
                            <br />
                            <p>
                                Over the next 2 months leading up to earth day week, there will be a project of people bringing in cardboard, recyclable plastic, etc… (other materials needed to build the birdhouses).
There will be a competition of which advisory brings in the most materials
                            </p>
              </div>
            </div>
          </div>





      <!-- <div class="card w-200 bg-base-700 shadow-xl m-10 min-h-screen">
        <div class="card-body">
          <h2 class="card-title">First</h2>
          <p>Why</p>
        </div>
      </div>
      </div>
      </div> -->

      </div>
      <!-- <div class="w-full m-w-screen flex items-center justify-center p-5">   
           <div class="card m-2 w-200 bg-base-700 shadow-xl">
               <div class="card-body p-5">
                 <div>
                   <p>
                   </p>
                 </div>
               </div>
             </div>
   
   


  </div> -->
  
</div>  
 <!-- <div class="w-full flex  items-center justify-center">
  <div class="card  w-96 bg-base-700 shadow-xl m-10">
    <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">First</h2>
      <p>Why</p>
    </div>
  </div>  <div class="card w-96 bg-base-700 shadow-xl m-10">
    <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Shoes!</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
    </div>
  </div>  <div class="card w-96 bg-base-700 shadow-xl m-10">
    <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes" /></figure>
    <div class="card-body">
      <h2 class="card-title">Shoes!</h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
    </div>
  </div>
 </div> -->